.product-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  margin-top: 20px;
}

.product-modal-box {
  width: 70%;
  max-height: 80vh;
  background: white;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: red;
  color: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 35px;
}

.productModal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.productModal-name {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
}

.productModal-card {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.productModal-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.productModal-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.productModal-card button {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
