.history-wrapper {
  width: 80%;
  margin: 10px auto;
  font-family: "Inter", sans-serif;
}

.header-history {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.history-table-wrapper {
  margin-top: 10px;
  padding: 10px 50px;
  background: #ffffff;
  /* height: 700px; */
  border-radius: 15px;
  overflow: auto;
}

/* Table */
.history-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); */
  /* background: #fff; */
}

.history-table thead th {
  text-align: left;
  padding: 14px 10px;
  font-size: 16px;
  color: #7d7d7d;
  border-bottom: 1px solid #e0e0e0;
}

.history-table tbody td {
  padding: 12px 10px;
  font-size: 15px;
  border-bottom: 1px solid #f3f3f3;
}

.history-table tbody tr:hover {
  background: #fafafa;
}

/* Delete Icon Button */
.btn-delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #d60000;
  margin-left: 10px;
}

.btn-delete:hover {
  transform: scale(1.1);
}

/* Bottom Delete Button */
.btn-delete-selected {
  margin-top: 20px;
  background: #ff4040;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  float: right;
  cursor: pointer;
  /* margin-right: 20px; */
}

.btn-delete-selected:hover {
  background: #cc0000;
}

.btn-delete-selected i {
  color: #ffffff;
  /* font-size: 16px; */
}
.history-btn-detail {
  display: flex;
  align-items: center;
  gap: 8px;
  /* margin-top: 15px; */
  cursor: pointer;
  color: #4285d7;
  /* font-weight: 600; */
  transition: color 0.2s ease, transform 0.2s ease;
  border-bottom: 1px solid #3c8dbc;
  width: 50px;
}

.history-btn-detail:hover {
  color: #0b66c2;
  transform: scaleY(1.1);
}

/* Empty Message Row */
.empty-message {
  text-align: center;
  padding: 25px 0;
  font-size: 16px;
  color: #777;
}
